.page {
  @include font-size($font-sizes);
}

.page-title {
  @include margin(.5em null);
  
  text-align: center;
  
  .logo {
    @include size(ms(10));
    
    * {
      fill: $base-font-color;
    }
  }
  
  h1 {
    font-size: ms(10);
    margin: 0;
    
    .char1,
    .char6 {
      color: $cape-code;
    }
  
    .char2,
    .char7 {
      color: $wild-watermelon;
    }
  
    .char3,
    .char8 {
      color: $fire-bush;
    }
  
    .char4,
    .char9 {
      color: $bitter-lemon;
    }
  
    .char5,
    .char10 {
      color: $cerulean;
    }
  }
  
  &:hover {
    h1,
    .logo * {
      @include animation-name(multicolour);
      @include animation-duration(5s);
      @include animation-timing-function($base-timing);
      @include animation-iteration-count(infinite);
    }
  }
}
