.post-list {
  @include border-color(darken($action-color, 30%));
  @include border-style(solid);
  @include border-width(1px);
  
  @include media($medium-screen-up) {
    height: 25vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  @include media($large-screen-up) {
    height: 50vh;
  }
}

.post {
  @include padding(.5em .5em);
  
  border-bottom: 1px solid darken($action-color, 30%);
  
  a {
    color: $action-color;
  }
  
  &:hover {
    background-color: $action-color;
    
    a {
      color: #fff;
    }
  }
}

.post-list > .post {
  &:first-child {
    padding-top: .5em;
  }
  &:last-child {
    border-bottom: none;
  }
}

.post-title {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.post-date {
  display: block;
  font-size: ms(-1);
}
