.post-list {
  @include border-color(darken($action-color, 30%));
  @include border-style(solid);
  @include border-width(1px);
  
  @include media($medium-screen-up) {
    height: 25vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  @include media($large-screen-up) {
    height: 50vh;
  }
  
  > .post {
    &:first-child {
      padding-top: .5em;
    }
    
    &:last-child {
      border-bottom: 0;
    }
  }
}

.post {
  @include padding(.5em);
  
  border-bottom: 1px solid darken($action-color, 30%);
  
  a {
    color: $action-color;
  }
  
  &:hover {
    background-color: $action-color;
    
    a {
      color: $white;
    }
  }
}

.post-image {
  @include margin(-1em -1em .5em -1em);
  background-position: center;
  background-size: cover;
  display: block;
  height: 5em;
}

.post-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.post-date {
  display: block;
  font-size: ms(-1);
}
