// Grids
$small-screen: 480px;
$medium-screen: 640px;
$large-screen: 1024px;
$xlarge-screen: 1280px;

$small-screen-up: new-breakpoint(min-width $small-screen 4/2);
$medium-screen-up: new-breakpoint(min-width $medium-screen 4*1);
$large-screen-up: new-breakpoint(min-width $large-screen 4*2);
$xlarge-screen-up: new-breakpoint(min-width $xlarge-screen 4*3);

// Typography
$base-font-family: Lato, $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

$font-sizes: (
  null: 15px,
  $small-screen: 16px,
  $medium-screen: 17px,
  $large-screen: 19px,
  $xlarge-screen: 20px
);

// Modular Scale
$ms-base: $base-font-size;
$ms-ratio: 1.25;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$cape-code: rgb(63, 80, 76);
$wild-watermelon: rgb(255, 81, 115);
$fire-bush: rgb(237, 160, 52);
$bitter-lemon: rgb(198, 225, 0);
$cerulean: rgb(36, 165, 212);

$white: #fff;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Custom Site Colours
$site-colours: (
  'blog': $fire-bush,
  'lab': $cerulean,
  'life': $bitter-lemon,
  'red': $wild-watermelon,
  'theworst': $cape-code
);

// Font Colors
$base-font-color: $dark-gray;
$action-color: $cerulean;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Animations
$base-duration: 150ms;
$base-timing: ease;
