{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://myles.city/">The City of Myles</a>
            </div>
            
            <div class="collapse navbar-collapce" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    {% for feed in feeds %}
                    <li>
                        <a href="{{ feed.url }}" title="{{ feed.title }}">
                            <img src="{{ feed.icon }}" alt="{{ feed.title }}">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="post-list">
        {% for entry in entries %}
        <div class="post {% if entry.image %}post--cover{% else %}post--no-cover{% endif %}"{% if entry.image %} data-src="{{ entry.image }}"{% endif %}>
            <a href="{{ entry.link }}" class="post__link">
                <h2 class="post__title">{{ entry.title }}</h2>
                <ul class="post__meta">
                    <li class="post__published">
                        {{ entry.published.strftime('%d %B %Y at %-I:%M %p') }}
                    </li>
                    <li class="post__publisher">{{ entry.publisher }}</li>
                </ul>
            </a>
        </div>
        {% endfor %}
{% endblock %}
