@keyframes multicolour {
  0% {
    color: $cape-code;
    fill: $cape-code;
    stroke: $cape-code;
  }
  
  20% {
    color: $wild-watermelon;
    fill: $wild-watermelon;
    stroke: $wild-watermelon;
  }
  
  40% {
    color: $fire-bush;
    fill: $fire-bush;
    stroke: $fire-bush;
  }
  
  60% {
    color: $bitter-lemon;
    fill: $bitter-lemon;
    stroke: $bitter-lemon;
  }
  
  80% {
    color: $cerulean;
    fill: $cerulean;
    stroke: $cerulean;
  }
  
  100% {
    color: $cape-code;
    fill: $cape-code;
    stroke: $cape-code;
  }
}
